<section>
    <div class="row text-center">
        <h1><strong>FEATURED BRANDS</strong></h1>
    </div>
    <br>
    <div class="row">
        <div class="d-flex justify-content-between">
            <img class="mx-2" src="assets/brands-logo/saya-logo.svg" alt="saya logo" width="10%">
            <img class="mx-2" src="assets/brands-logo/bonanza-logo.svg" alt="bonanza logo" width="10%">
            <img class="mx-2" src="assets/brands-logo/limelight-logo.svg" alt="limelight logo" width="15%">
            <img class="mx-2" src="assets/brands-logo/sana-safinaz-logo.png" alt="sana safinaz logo" width="15%">
            <img class="mx-2" src="assets/brands-logo/beechtree-logo.png" alt="beechtree logo" width="10%">
            <img class="mx-2" src="assets/brands-logo/alkaram-studio-logo.png" alt="alkaram logo" width="10%">
            <img class="mx-2" src="assets/brands-logo/sapphari-logo.png" alt="sapphari logo" width="10%">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/pictures/winter-collection.png" alt="winter collection image" height="500">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/pictures/summer-collection.png" alt="summer collection image" height="250">
                </div>
                <div class="col-md-6">
                    <img src="assets/pictures/cambric-collection.png" alt="cambric collection image" height="250">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/pictures/embroidered-collection.png" alt="embroidered collection image" height="250">
                </div>
                <div class="col-md-6">
                    <img src="assets/pictures/man-wear.png" alt="man collection image" height="250">
                </div>
            </div>
        </div>
    </div>
</section>