<section>
    <!-- Heading -->
    <div class="row text-center my-4">
        <h1><strong>FEATURED BRANDS</strong></h1>
    </div>

    <!-- Logos -->
    <div class="row mx-2 my-4">
        <div class="d-flex justify-content-between">
            <img class="mx-2" src="assets/brands-logo/saya-logo.svg" alt="saya logo" width="10%">
            <img class="mx-2" src="assets/brands-logo/bonanza-logo.svg" alt="bonanza logo" width="10%">
            <img class="mx-2" src="assets/brands-logo/limelight-logo.svg" alt="limelight logo" width="15%">
            <img class="mx-2" src="assets/brands-logo/sana-safinaz-logo.png" alt="sana safinaz logo" width="15%">
            <img class="mx-2" src="assets/brands-logo/beechtree-logo.png" alt="beechtree logo" width="10%">
            <img class="mx-2" src="assets/brands-logo/alkaram-studio-logo.png" alt="alkaram logo" width="10%">
            <img class="mx-2" src="assets/brands-logo/sapphari-logo.png" alt="sapphari logo" width="10%">
        </div>
    </div>

    <!-- Modals Images -->
    <div class="row mx-2 my-4">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 image-block">
        <img class="image w-100" src="assets/pictures/winter-collection.png" alt="winter collection image" height="825">
        <div class="text text-nowrap" id="winterCollection">Winter Collection</div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row mb-4">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 image-block">
            <img class="image w-100" src="assets/pictures/summer-collection.png" alt="summer collection image" height="400">
            <div class="text text-nowrap" id="summerCollection">Summer Collection</div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 image-block">
            <img class="image w-100" src="assets/pictures/cambric-collection.png" alt="cambric collection image" height="400">
            <div class="text text-nowrap" id="cambricCollection">Cambric Collection</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 image-block">
            <img class="image w-100" src="assets/pictures/embroidered-collection.png" alt="embroidered collection image"
              height="400">
            <div class="text text-nowrap" id="embroideredCollection">Embroidered Collection</div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 image-block">
            <img class="image w-100" src="assets/pictures/man-wear.png" alt="man collection image" height="400">
            <div class="text text-nowrap" id="manCollection">Man's Wear</div>
          </div>
        </div>
      </div>
    </div>


    <!-- <div class="row row-cols-lg-2 row-cols-md-1 row-cols-sm-1 row-cols-xs-1 mx-2">
        <div class="col-6 col-sm-12 col-xs-12 image-block">
            <img class="image w-100" src="assets/pictures/winter-collection.png" alt="winter collection image" height="825">
            <div class="text text-nowrap" id="winterCollection">Winter Collection</div>
        </div>
        <div class="col-6 my-xl-0 my-lg-0 my-md-4 my-sm-4 my-xs-4">
            <div class="row row-cols-lg-2 row-cols-md-2 mb-3">
                <div class="col image-block">
                    <img class="image w-100" src="assets/pictures/summer-collection.png" alt="summer collection image" height="400">
                    <div class="text text-nowrap" id="summerCollection">Summer Collection</div>
                </div>
                <div class="col image-block">
                    <img class="image w-100" src="assets/pictures/cambric-collection.png" alt="cambric collection image" height="400">
                    <div class="text text-nowrap" id="cambricCollection">Cambric Collection</div>
                </div>
            </div>
            <div class="row row-cols-lg-2 row-cols-md-2">
                <div class="col image-block">
                    <img class="image w-100" src="assets/pictures/embroidered-collection.png" alt="embroidered collection image" height="400">
                    <div class="text text-nowrap" id="embroideredCollection">Embroidered Collection</div>
                </div>
                <div class="col image-block">
                    <img class="image w-100" src="assets/pictures/man-wear.png" alt="man collection image" height="400">
                    <div class="text text-nowrap" id="manCollection">Man's Wear</div>
                </div>
            </div>
        </div>
    </div> -->
</section>
