<section>
    <div class="row text-center">
        <h1><strong>NEW IN</strong></h1>
    </div>
    <br><br>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 mx-2">
        <div class="col text-center">
            <app-new-in-block imagePath="assets/pictures/new_in_1.png"></app-new-in-block>
        </div>
        <div class="col text-center">
            <app-new-in-block imagePath="assets/pictures/new_in_2.png"></app-new-in-block>
        </div> 
        <div class="col text-center">
            <app-new-in-block imagePath="assets/pictures/new_in_3.png"></app-new-in-block>
        </div>
        <div class="col text-center">
            <app-new-in-block imagePath="assets/pictures/new_in_4.png"></app-new-in-block>
        </div>
    </div>
    <br>
    <div class="row">
        <button class="btn btn-dark mx-auto" style="width: 300px; height: 50px;">View All</button>
    </div>
</section>