<section>
    <div class="row text-center">
        <h1><strong>NEW IN</strong></h1>
    </div>
    <br>
    <div class="row mx-2">
        <div class="col-lg-3">
            <img class="mx-2" src="assets/pictures/new-in-1.png" alt="saya logo" width="100%">
        </div>
        <div class="col-lg-3">
            <img class="mx-2" src="assets/pictures/new-in-1.png" alt="saya logo" width="100%">
        </div>
        <div class="col-lg-3">
            <img class="mx-2" src="assets/pictures/new-in-1.png" alt="saya logo" width="100%">
        </div>
        <div class="col-lg-3">
            <img class="mx-2" src="assets/pictures/new-in-1.png" alt="saya logo" width="100%">
        </div>
    </div>
    <br>
    <div class="row">
        <button class="btn btn-dark mx-auto" style="width: fit-content;">View All</button>
    </div>
</section>