<section>
    <div class="row text-center">
        <h1><strong>NEW IN</strong></h1>
    </div>
    <br><br>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 mx-2">
        <div class="col text-center">
            <div class="new-badge">
                <span class="badge bg-dark rounded-0 my-3">New</span>
            </div>
            <img src="assets/pictures/new_in_1.png" alt="saya logo" height="450" width="100%">
            <div class="bg-dark text-white py-1">Add to Cart</div>
            <div class="new-item-detail my-4">
                <p>Jacquard-Embroidered Slub</p>
                <p>Viscose-Blue-3PC</p>
                <p class="text-muted">JACQUARD</p>
                <p>PKR. 2,500</p>
            </div>
        </div>
        <div class="col text-center">
            <div class="new-badge">
                <span class="badge bg-dark rounded-0 my-3">New</span>
            </div>
            <img src="assets/pictures/new_in_2.png" alt="saya logo" height="450" width="100%">
            <div class="bg-dark text-white py-1">Add to Cart</div>
            <div class="new-item-detail my-4">
                <p>Jacquard-Embroidered Slub</p>
                <p>Viscose-Blue-3PC</p>
                <p class="text-muted">JACQUARD</p>
                <p>PKR. 2,500</p>
            </div>
        </div> 
        <div class="col text-center">
            <div class="new-badge">
                <span class="badge bg-dark rounded-0 my-3">New</span>
            </div>
            <img src="assets/pictures/new_in_3.png" alt="saya logo" height="450" width="100%">
            <div class="bg-dark text-white py-1">Add to Cart</div>
            <div class="new-item-detail my-4">
                <p>Jacquard-Embroidered Slub</p>
                <p>Viscose-Blue-3PC</p>
                <p class="text-muted">JACQUARD</p>
                <p>PKR. 2,500</p>
            </div>
        </div>
        <div class="col text-center">
            <div class="new-badge">
                <span class="badge bg-dark rounded-0 my-3">New</span>
            </div>
            <img src="assets/pictures/new_in_4.png" alt="saya logo" height="450" width="100%">
            <div class="bg-dark text-white py-1">Add to Cart</div>
            <div class=" new-item-detail my-4">
                <p>Jacquard-Embroidered Slub</p>
                <p>Viscose-Blue-3PC</p>
                <p class="text-muted">JACQUARD</p>
                <p>PKR. 2,500</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <button class="btn btn-dark mx-auto" style="width: 300px; height: 50px;">View All</button>
    </div>
</section>