<div class="row row-cols-lg-3 row-cols-md-3 p-2 bg-light">
    <div class="col">
        <div class="d-flex justify-content-center">
            <img src="assets/icons/carbon_delivery.svg" alt="carbon delivery">
            <div class="mx-4">
                <h4>SHIPPING CHARGES</h4>
                <p class="text-muted">Starting From Rs. 200</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="d-flex justify-content-center">
            <img src="assets/icons/support.svg" alt="support">
            <div class="mx-4">
                <h4>SUPPORT 24/7</h4>
                <p class="text-muted">Contact us 24 hours a day. 7 days a week</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="d-flex justify-content-center">
            <img src="assets/icons/location_icon.svg" alt="location">
            <div class="mx-4">
                <h4>TRACK YOUR ORDER</h4>
                <p class="text-muted">Track your order for quick updates</p>
            </div>
        </div>
    </div>
</div>