<div class="row row-cols-lg-3 row-cols-md-1 row-cols-sm-1 row-cols-xs-1 p-2 bg-light">
    <div class="col py-lg-0 py-md-2 py-sm-2 py-xs-2">
        <div class="d-flex justify-content-center">
            <img src="assets/icons/carbon_delivery.svg" alt="carbon delivery">
            <div class="mx-4">
                <h4 class="text text-nowrap">SHIPPING CHARGES</h4>
                <p class="text-muted text-nowrap">Starting From Rs. 200</p>
            </div>
        </div>
    </div>
    <div class="col py-lg-0 py-md-2 py-sm-2 py-xs-2">
        <div class="d-flex justify-content-center">
            <img src="assets/icons/support.svg" alt="support">
            <div class="mx-4">
                <h4 class="text text-nowrap">SUPPORT 24/7</h4>
                <p class="text-muted text-nowrap">Contact us 24 hours a day. 7 days a week</p>
            </div>
        </div>
    </div>
    <div class="col py-lg-0 py-md-2 py-sm-2 py-xs-2">
        <div class="d-flex justify-content-center">
            <img src="assets/icons/location_icon.svg" alt="location">
            <div class="mx-4">
                <h4 class="text text-nowrap">TRACK YOUR ORDER</h4>
                <p class="text-muted text-nowrap">Track your order for quick updates</p>
            </div>
        </div>
    </div>
</div>