
<ngb-carousel>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="assets/crousel/hero_image_1.png" alt="Random first slide" height="500" width="100%" />
		</div>
		<!-- <div class="carousel-caption">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div> -->
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="assets/crousel/hero_image_2.png" alt="Random second slide" height="500" width="100%" />
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="assets/crousel/hero_image_3.png" alt="Random third slide" height="500" width="100%" />
		</div>
	</ng-template>
</ngb-carousel>