<footer>
  <div class="bg-dark text-white">
    <div class="row mx-4">
      <!-- Logo & Description -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3 p-2">
        <a href="/" class="d-flex align-items-center mb-3 text-decoration-none">
          <img src="assets/almisaal_logo2.svg" alt="logo" height="150" width="250">
        </a>
        <p>Elevate your style with almisaal branded collection, offering chic and trendy clothes
          for today fashion-forward individuals. Explore our curated collection and redifne your unique look.
        </p>
      </div>

      <!-- Information -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3 mt-4">
        <h5><strong>Information</strong></h5>
        <br>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Contact us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Track your order</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Privacy policy</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQ's</a></li>
        </ul>
      </div>

      <!-- Category -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3 mt-4">
        <h5><strong>Category</strong></h5>
        <br>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">NEW IN</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Brands</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Summer</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Winter</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Shawls</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Sale</a></li>
        </ul>
      </div>

      <!-- Contact Us -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3 mt-4">
        <h5><strong>Contact Us</strong></h5>
        <br>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-white">
              <img src="assets/icons/phone_icon.svg" alt="phone">&nbsp;{{APIConstant.MOBILE_NO}}</a>
          </li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">
              <img src="assets/icons/gmail_icon.svg" alt="gmail">&nbsp;{{APIConstant.EMAIL}}</a>
          </li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">
              <img src="assets/icons/location_icon.svg" alt="location" height="30">&nbsp;Lahore, Pakistan</a>
          </li>
          <li class="nav-item mt-4">
            <div class="d-flex">
              <a href="{{APIConstant.FACEBOOK_URL}}" target="_blank">
                <div class="rounded-shade mx-2"><img src="assets/icons/facebook_icon.svg" alt=""></div>
              </a>
              <a href="{{APIConstant.INSTAGRAM_URL}}" target="_blank">
                <div class="rounded-shade mx-2"><img src="assets/icons/instagram_icon.svg" alt=""></div>
              </a>
              <a href="{{APIConstant.YOUUBE_URL}}" target="_blank">
                <div class="rounded-shade mx-2"><img src="assets/icons/youtube_icon.svg" alt=""></div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <p class="text-center">Copyrights © 2023 ALMISAAL BRANDED COLLECTION. All rights reserved</p>
    </div>
  </div>
</footer>
