<footer>
  <div class="bg-dark text-white">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 py-5 px-5 my-5">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 text-decoration-none">
          <img src="assets/almisaal-logo.svg" alt="logo" height="150" width="250">
        </a>
        <p>Elevate your style with almisaal branded collection, offering chic and trendy clothes
          for today fashion-forward individuals. Explore our curated collection and redifne your unique look.
        </p>
      </div>
    
      <div class="col mb-3">
        <h5><strong>Information</strong></h5>
        <br>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Contact us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Track your order</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Privacy policy</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQ's</a></li>
        </ul>
      </div>
    
      <div class="col mb-3">
        <h5><strong>Category</strong></h5>
        <br>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">NEW IN</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Brands</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Summer</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Winter</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Shawls</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Sale</a></li>
        </ul>
      </div>
    
      <div class="col mb-3">
        <h5><strong>Contact Us</strong></h5>
        <br>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-white">
              <img src="assets/icons/phone.svg" alt="phone">+923347932023</a>
          </li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">
              <img src="assets/icons/gmail icon.svg" alt="phone"> Almissal@gmail.com</a>
            </li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">
              <img src="assets/icons/location icon.svg" alt="phone"> Lahore, Pakistan</a>
            </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <p class="text-center">Copyrights © 2023 ALMISAAL BRANDED COLLECTION. All rights reserved</p>
    </div>
  </div>
  
</footer>