<div class="container my-4">
    <div class="d-flex justify-content-center">
        <div class="text-center mx-4">
            <img class="rounded-circle" src="assets/pictures/circle_img.png" alt="circle img" width="100">
            <p>1 Pieces</p>
        </div>
        <div class="text-center mx-4">
            <img class="rounded-circle" src="assets/pictures/circle_img.png" alt="circle img" width="100">
            <p>2 Pieces</p>
        </div>
        <div class="text-center mx-4">
            <img class="rounded-circle" src="assets/pictures/circle_img.png" alt="circle img" width="100">
            <p>3 Pieces</p>
        </div>
    </div>
</div>