<div class="container my-4">
    <app-brand-category></app-brand-category>
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1">
        <div class="col text-center" *ngFor="let block of arr">
            <app-new-in-block
             [imagePath]="'assets/pictures/new_in_1.png'"
            ></app-new-in-block>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-dark mx-auto" style="width: 300px; height: 50px;">Show More</button>
    </div>
</div>
